button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

figure, figcaption {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $md) {
    width: 100%;
    padding: 0 40px;
  }

  @media (min-width: $lg) {
    width: 1110px;
    padding: 0;
  }

  // @media (min-width: $xl) {
  //   width: 1520px;
  // }
}